<app-navigation></app-navigation>

<app-sidebar>
  <div class="container">

    <div class="row">
      <div class="col-1"></div>
      <div class="col-3">
        <p class="class-title">{{course.name}} : {{course.size}} students</p>
      </div>
      <h1>Questions</h1>
    </div>

    <div class="row">
      <div class="col-8" id="left">

        <div id="custom-search-input">
          <div class="col-11" id="streatch">

            <!-- Search Box -->
            <input [(ngModel)]="searchText" type="text" class="search-query form-control" placeholder="Search Term" />

            <span class="input-group-btn">
              <button class="btn btn-danger" type="button">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>

          </div>
        </div>

      </div>

    </div>

    <!-- Questions -->
    <div id="moveTo">

      <div id="questions">

        <!-- Question List -->
        <div *ngIf="showQuestions" class="row">

          <!-- Question Item -->
          <div *ngFor="let question of questions | filter: searchText" class="row question question-item">
            <!-- Question -->
            <div class="col-10">

              <!-- Content -->
              <div class="row">
                <div class="col-2">
                  <span class="question-index" *ngIf="question.index < 10">Q0{{question.index}}</span>
                  <span class="question-index" *ngIf="question.index >= 10">Q{{question.index}}</span>
                </div>
                <div class="col-10">
                  <p class="truncate-question question-content">{{question.content}}</p>
                </div>
              </div>

              <!-- Status -->
              <div class="row">
                <!-- Duration -->
                <div class="col-2 question-duration">
                  <p *ngIf="question.duration <= 1" class="truncate" ngbTooltip="{{question.duration}} minute ago">
                    <fa-icon [icon]="['far', 'clock']" size="lg"></fa-icon>Now
                  </p>

                  <p *ngIf="question.duration > 1" class="truncate" ngbTooltip="{{question.duration}} minutes ago">
                    <fa-icon [icon]="['far', 'clock']" size="lg"></fa-icon>{{question.duration}}min
                  </p>
                </div>

                <!-- Answers -->
                <div class="col-2" ngbTooltip="View all {{question.nbrAnswers}} answers">
                  <fa-icon [icon]="['fas', 'comments']" size="lg" class="truncate" (click)="openAModal(aModal, question.nbrAnswers)"></fa-icon>
                  <!-- {{question.nbrAnswers}} -->
                </div>

                <!-- Likes -->
                <div class="col-2 question-like" ngbTooltip="Upvote">
                  <span class="truncate" (click)="onLikeClick(question)">
                    <fa-icon [icon]="['fas', 'thumbs-up']" size="lg" class="truncate"></fa-icon>
                    {{question.nbrLikes}}
                  </span>
                </div>

              </div>
            </div>

            <!-- Vertical check/delete -->
            <div class="col-2">

              <!-- Check Button -->
              <div class="row">
                <fa-icon [icon]="['fas', 'check']" size="2x" (click)="checkQuestion(question.index)" ngbTooltip="Checkoff Question {{question.index}}"
                  class="check-icon"></fa-icon>
              </div>

              <!-- Delete Button -->
              <div class="row">
                <fa-icon [icon]="['far', 'trash-alt']" size="2x" (click)="deleteQuestion(question.index,dModal)"
                  ngbTooltip="Delete Question {{question.index}}" class="delete-icon"></fa-icon>
              </div>

            </div>
          </div>

        </div>

        <!-- Checked List -->
        <div *ngIf="showChecked" class="row">

          <!-- Question Item -->
          <div *ngFor="let question of checked | filter: searchText" class="row question question-item">

            <!-- Question -->
            <div class="col-10">

              <!-- Content -->
              <div class="row">
                <div class="col-2">
                  <span class="question-index" *ngIf="question.index < 10">Q0{{question.index}}</span>
                  <span class="question-index" *ngIf="question.index >= 10">Q{{question.index}}</span>
                </div>
                <div class="col-10">
                  <p class="truncate-question question-content">{{question.content}}</p>
                </div>
              </div>

              <!-- Status -->
              <div class="row">
                <!-- Duration -->
                <div class="col-2 question-duration">
                  <p *ngIf="question.duration <= 1" class="truncate">
                    <fa-icon [icon]="['far', 'clock']" size="lg"></fa-icon>Now

                    <p *ngIf="question.duration > 1" class="truncate">
                      <fa-icon [icon]="['far', 'clock']" size="lg"></fa-icon>{{question.duration}}min
                    </p>
                </div>

                <!-- Answers -->
                <div class="col-2">
                  <fa-icon [icon]="['fas', 'comments']" size="lg" class="truncate" (click)="openAModal(aModal, question.nbrAnswers)"
                    ngbTooltip="View all {{question.nbrAnswers}} answers"></fa-icon>
                  {{question.nbrAnswers}}
                </div>

                <!-- Likes -->
                <div class="col-2">
                  <span class="truncate like">
                    <fa-icon [icon]="['fas', 'thumbs-up']" size="lg"></fa-icon>
                    {{question.nbrLikes}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Deleted List -->
        <div *ngIf="showDeleted" class="row">

          <!-- Question Item -->
          <div *ngFor="let question of deleted | filter: searchText" class="row question question-item">

            <!-- Question -->
            <div class="col-10">

              <!-- Content -->
              <div class="row">
                <div class="col-2">
                  <span class="default-button question-index" *ngIf="question.index < 10">Q0{{question.index}}</span>
                  <span class="default-button question-index" *ngIf="question.index >= 10">Q{{question.index}}</span>
                </div>
                <div class="col-10">
                  <p class="truncate-question question-content">{{question.content}}</p>
                </div>
              </div>

              <!-- Status -->
              <div class="row">
                <!-- Duration -->
                <div class="col-2 question-duration">
                  <p *ngIf="question.duration <= 1" class="truncate">
                    <fa-icon [icon]="['far', 'clock']" size="lg"></fa-icon>Now

                    <p *ngIf="question.duration > 1" class="truncate">
                      <fa-icon [icon]="['far', 'clock']" size="lg"></fa-icon>{{question.duration}}min
                    </p>
                </div>

                <!-- Answers -->
                <div class="col-2">
                  <fa-icon [icon]="['fas', 'comments']" size="lg" class="truncate" (click)="openAModal(aModal, question.nbrAnswers)"
                    ngbTooltip="View all {{question.nbrAnswers}} answers"></fa-icon>
                  {{question.nbrAnswers}}
                </div>

                <!-- Likes -->
                <div class="col-2">
                  <span class="truncate like">
                    <fa-icon [icon]="['fas', 'thumbs-up']" size="lg"></fa-icon>
                    {{question.nbrLikes}}
                  </span>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>

      <!-- Change View -->
      <div class="row" id="change-view">

        <div class="col-2" id="select-text">
          <!-- <fa-icon [icon]="['fas', 'thumbsUp']" size="lg"></fa-icon> -->
          <p>Select to View</p>
        </div>

        <!-- Question View-->
        <!-- <div class="col-1" id="back-view" class="default-button">
                    <button (click)="showNormalQuestions()">Default</button>
                  </div> -->

        <div class="col-1" id="back-view" class="default-button" ngbTooltip="View all questions">
          <fa-icon [icon]="['far', 'list-alt']" size="3x" (click)="showNormalQuestions()"></fa-icon>
        </div>

        <div class=" col-1" id="check-view" ngbTooltip="View checked questions">
          <fa-icon [icon]="['fas', 'check']" size="3x" (click)="showCheckedQuestions()"></fa-icon>
        </div>

        <div class="col-1" id="delete-view" ngbTooltip="View deleted questions">
          <fa-icon [icon]="['far', 'trash-alt']" size="3x" (click)="showDeletedQuestions()"></fa-icon>
        </div>

        <!-- Sort By Likes -->
        <div class="col-3" id="back-view">
          <button class="btn btn-info" (click)="onSortClick()">Sort by Upvotes</button>
        </div>

        <!-- Question Button -->
        <div class="col-2" ngbTooltip="Ask a new question">
          <button type="button" class="btn btn-primary new-question" (click)="openQModal(qModal)">
            <img id="reduced" src="assets/post.png"> New Question
          </button>
        </div>

      </div>

    </div>
  </div>
</app-sidebar>

<!-- Question Modal -->
<ng-template #qModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">New Question</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" id="question-modal">
    <form [formGroup]="questionForm" novalidate>

      <div class="form-gourp">
        <textarea class="form-control" formControlName="content" name="content" [(ngModel)]="content" placeholder="Question"></textarea>
      </div>

      <!-- Error Message -->
      <div *ngIf="questionForm.controls['content'].invalid && (questionForm.controls['content'].dirty || questionForm.controls['content'].touched)"
        class="alert alert-danger">
        <div *ngIf="questionForm.controls['content'].errors.required">
          Question content is required.
        </div>
      </div>

      <!-- Submit Button -->
      <div class="form-group" id="submit-button">
        <button type="submit" class="btn btn-success" [disabled]="questionForm.pristine || questionForm.invalid"
          (click)="onQuestionSubmit(content)">
          Submit
        </button>
      </div>

    </form>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<!-- Answer Modal -->
<ng-template #aModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Answers</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" id="answer-modal">

    <div *ngFor="let answer of answers" class="row answer-item">
      <div class="col-1">
        <span *ngIf="answer.index < 10">A0{{answer.index}}</span>
        <span *ngIf="answer.index >= 10">A{{answer.index}}</span>
      </div>
      <div class="col-9">
        <p class="truncate-question answer-content">{{answer.content}}</p>
      </div>

      <!-- Likes -->
      <div class="col-2 answer-like" ngbTooltip="Upvote">
        <span class="truncate" (click)="onAnswerLikeClick(answer)">
          <fa-icon [icon]="['fas', 'thumbs-up']" size="lg" class="truncate"></fa-icon>
          {{answer.nbrLikes}}
        </span>
      </div>

    </div>



    <form (ngSubmit)="onAnswerSubmit(answerContent.value)" class="form-inline" id="answer-form">

      <textarea class="form-control" [formControl]="answerContent" name="answerContent" placeholder="Your answer here"></textarea>

      <!-- Submit Button -->
      <button type="submit" class="btn btn-success">
        Submit
      </button>
    </form>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>


<!-- Delete Modal -->
<ng-template #dModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Question {{currentDelete}} Deletion</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p><strong>Are you sure you want to delete this question?</strong></p>
    <p>All information associated to this question will be permanently deleted.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="deleteQuestionConfirm(dModal)">Ok</button>
  </div>
</ng-template>
