<app-navigation></app-navigation>

<div class="main-div">

  <h1 class="center">Login Page</h1>

  <div class="login-form">

    <form name="form" (ngSubmit)="onLogin()" #f="ngForm" novalidate id="login">

      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 form-group">
          <div class="form-check-inline" id="user-option">

            <!-- Professor Radio -->
            <label class="customradio"><span class="radiotextsty">Professor</span>
              <input type="radio" [(ngModel)]="userType" name="userType" value="professor" checked>
              <span class="checkmark"></span>
            </label>        

            <!-- Student Radio -->
            <label class="customradio"><span class="radiotextsty">Student</span>
              <input type="radio" [(ngModel)]="userType" name="userType" value="student">
              <span class="checkmark"></span>
            </label>

            <!-- TA Radio -->
            <label class="customradio"><span class="radiotextsty">TA</span>
              <input type="radio" [(ngModel)]="userType" name="userType" value="TA">
              <span class="checkmark"></span>
            </label>

          </div>

        </div>
      </div>

      <!-- Email -->
     <div class="form-group">
        <label for="email"></label>
        <input type="email" class="form-control" [(ngModel)]="email" name="email" placeholder="Email Address" ngModel
          email>
      </div>

      <!-- Password -->
      <div class="form-group">
        <label for="password"></label>
        <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password">
      </div>

      <!-- Reset Password -->
      <!-- 
      <div class="forgot">
        <a>Forgot password?</a>
      </div>
      -->

      <!-- Login Button -->
      <div class="button">
      <button type="submit" class="btn btn-primary" id="login-button">Login</button>
      </div>

    </form>

  </div>

</div>
