<app-navigation></app-navigation>
<app-sidebar>

  <div class="container">

    <div class="row">
      <p class="class-title">{{course.name}}</p>
      <div class="students-box">
        <p class="students">{{course.size}} students</p>
      </div>
    </div>

    <div style="margin-left:80px;">
      <h2 style="margin-left:250px; margin-top:20px">Past Lectures</h2>
      <div class="row" style="margin-top:40px; margin-right:30px;">
        <div class="col-3">
          <p id="center">Date</p>
          <p id="ps1">10/08/2018</p>
          <p id="ps1">10/01/2018</p>
          <p id="ps1">09/21/2018</p>
        </div>
        <div class="col-3">
          <p id="center">Check-in ID</p>
          <p id="ps1">XYZ170</p>
          <p id="ps1">OZY520</p>
          <p id="ps1">G1A2RY</p>
        </div>
        <div class="col-3">
          <p id="center">Lecture</p>
          <div class="col-3">
            <a style="margin-left:55px" routerLink="/prof-after">L1</a>
          </div>
          <div class="col-3" style="margin-top:16px">
            <a style="margin-left:55px" routerLink="/prof-after">L2</a>
          </div>
          <div class="col-3" style="margin-top:16px">
            <a style="margin-left:55px" routerLink="/prof-after">L3</a>
          </div>
        </div>
        <div class="col-3">
          <p id="center">Students</p>
          <p id="ps1">121/123</p>
          <p id="ps1">111/123</p>
          <p id="ps1">108/123</p>
        </div>
      </div>
    </div>
  </div>


</app-sidebar>
