.profile {
  margin: 20px 0;
}

.profile-img img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-img:hover {
  cursor: pointer;
  opacity: 0.6;
}

.center {
  text-align: center;
}

.title {
  margin-top: 20px;
  color: #3d5674;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 7px;
}

.course {
  margin-top: 30px;
}

.course-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.course-menu ul li {
  border-bottom: 1px solid #f0f4f7;
  font-weight: bold;
}

.course-menu ul li:last-child {
  border-bottom: none;
}

.course-menu ul li.active {
  background-color: #123456 !important;
  color: white;
}

.course-menu ul li:hover {
  background-color: rgb(71, 140, 175);
  color: white;
  cursor: pointer;
}

/* For course */
.light-gray {
  background-color: #F1F1F1;
}

.dark-gray {
  font-size: 100px;
  background-color: #C4C4C4;
}

#add img {
  margin-top: 15px;
  width: 40px;
  height: 40px;
}

.sidebar {
  padding-right: 0;
}

.main {
  padding-left: 0;
}
