<div class="row">

  <div class="col-3">
    <div class="center">
      <br />
      <!-- Profile Image -->
      <div class="profile-img">
        <img routerLink="/profile" src="assets/blueuser.png" alt="">
      </div>
      <!-- END Profile Image -->

      <!-- Sidebar Title -->
      <div class="title center">
        Course
      </div>
      <!-- END Sidebar Title -->

      <!-- Sidebar Menu -->
      <div class="menu">
        <ul>
          <!-- Courses -->
          <li *ngFor="let course of courses" (click)="onCourseClick(course)">{{course.name}}</li>
        </ul>
        <div id="add"><img (click)="onCourseSubmit()" src="assets/add.png"></div>
      </div>
      <!-- Sidebar Menu -->
    </div>
  </div>

  <!-- Content -->
  <div class="col-9">
    <ng-content></ng-content>
  </div>
</div>
