<app-navigation></app-navigation>
<app-sidebar>

  <div class="container">

    <div class="row">
      <p class="class-title">{{course.department}} {{course.id}}</p>
      <div class="students-box">
        <p class="students">{{course.attendence}} students</p>
      </div>
    </div>

    <h2 style="margin-left:20px;margin-bottom:20px;">Profile</h2>
    <div class="row">
      <div class="col-2">
        <img src="assets/blueuser.png" width=150px; height=150px;>
      </div>
      <div class="col-5">
          <h1 style="margin-left:30px;margin-top:40px">John Davidson</h1>
      </div>
    </div>
<div class="row" style="margin-top:20px">
<p>Email: johndavidson@ucsd.edu</p>
</div>
<div class="row">
<p>password: *********</p>
</div>
<div class="row">
        <button>Change Password</button> 
</div>
</div>



</app-sidebar>
