<app-navigation></app-navigation>
<app-sidebar>

  <div class="container">

    <h2 id="ps2">Profile</h2>
    <div class="row">
      <div class="col-2">
        <img src="assets/blueuser.png" width=150px; height=150px;>
      </div>
      <div class="col-5">
        <h1 id="ps3">John Davidson</h1>
      </div>
    </div>
    <div class="row" id="ps">
      <p>Email: johndavidson@ucsd.edu</p>
    </div>
    <div class="row">
      <p>password: *********</p>
    </div>
    <div class="row">
      <button>Change Password</button>
    </div>
  </div>



</app-sidebar>
