<div class="container">

  <div class="row">

    <!-- Main Screen -->
    <div class="col-9">

      <div class="row" id="course-title">
        <h1 class="mx-auto">{{currentCourse.name}}</h1>
      </div>

      <div class="row" id="course-status">

        <div class="col-4">
          <h2>Time: {{lecture.time.getHours()}}:{{lecture.time.getMinutes()}}</h2>
        </div>

        <div class="col-4" id="lecture">
          <p>{{lecture.title}}</p>
        </div>

        <div class="col-4">
          <div class="row">
            <div class="col-6"></div>
            <h3>Online: {{lecture.nbrOnline}}</h3>
          </div>
        </div>

      </div>

      <div class="row">
        <iframe id="slides" src="https://onedrive.live.com/embed?cid=B3661CC19E37AC5B&resid=B3661CC19E37AC5B%2172589&authkey=AEALH5JUh61hZ4c&em=2"
          width="800" height="600" frameborder="0" scrolling="auto">
        </iframe>
      </div>
      <br />
      <div class="row">
        <button id="done" type="button" class="btn btn-success mx-auto" routerLink="/prof-after">Done</button>
      </div>
    </div><!-- End Main -->

    <!-- Questions -->
    <div class="col-3" id="questions">

      <!-- Hand -->
      <div class="row" id="hand-div">
        <button [@myAwesomeAnimation]='questionState' (click)="showQuestions()"><img src="assets/handraiseb.png" alt="raise hand"
            class="mx-auto" id="hand">
        </button>
      </div><!-- End Hand -->

      <!-- Question List -->
      <div *ngIf="showQs" class="row">

        <!-- Question Item -->
        <div *ngFor="let question of questions | slice:0:4" class="row question" (click)="onQuestionClick()">

          <!-- Question -->
          <div class="col-10">

            <!-- Content Row -->
            <div class="row question-content">

              <div class="col-2 content-index">
                <button *ngIf="question.index < 10" class="question-index">Q0{{question.index}}</button>
                <button *ngIf="question.index >= 10" class="question-index">Q{{question.index}}</button>
              </div>

              <div class="col-10 content-box">
                <button type="button" class="btn btn-outline-secondary truncate" placement="left" [ngbPopover]="question.content"
                  popoverTitle="Question {{question.index}}">{{question.content}}</button>
              </div>

            </div><!-- End Content Row -->

            <!-- Status -->
            <div class="row">

              <!-- Duration -->
              <div class="col-4">
                <p *ngIf="question.duration <= 1" class="truncate">
                  <img src="assets/clock.png" width="25" height="25" alt="clock">Now

                  <p *ngIf="question.duration > 1" class="truncate">
                    <img src="assets/clock.png" width="25" height="25" alt="clock">{{question.duration}}</p>
              </div>

              <!-- Answers -->
              <div class="col-4">
                <p class="truncate">
                  <img src="assets/answer.png" width="20" height="20" alt="answer">
                  {{question.nbrAnswers}}
                </p>
              </div>

              <!-- Likes -->
              <div class="col-4">
                <p class="truncate" (click)="onLikeClick(question)">
                  <img src="assets/thumbup.png" width="20" height="20" alt="likes">
                  {{question.nbrLikes}}
                </p>
              </div>

            </div><!-- End Status Row -->

            <hr>
          </div>

          <!-- Vertical check/delete -->
          <div class="col-2">

            <!-- Check Button -->
            <div class="row" id="check">
              <button (click)="checkQuestion(question.index)">
                <img src="assets/checkblack.png" width="30" height="30" alt="check">
              </button>
            </div>

            <!-- Delete Button -->
            <div class="row">
              <button (click)="deleteQuestion(question.index)">
                <img src="assets/trashcan.png" width="30" height="30" alt="delete">
              </button>
            </div>

          </div>

        </div>

        <!-- More -->
        <div class="row mx-auto">
          <button id="more" (click)="onMoreClick()">More</button>
        </div>

      </div><!-- End Question List -->

      <!-- Checked List -->
      <div *ngIf="showChecked" class="row">

        <!-- Question Item -->
        <div *ngFor="let question of checked | slice:0:4" class="row question" (click)="onQuestionClick()">

          <!-- Question -->
          <div class="col-11">

            <!-- Content Row -->
            <div class="row question-content">

              <div class="col-2 content-index">
                <button *ngIf="question.index < 10" class="question-index">Q0{{question.index}}</button>
                <button *ngIf="question.index >= 10" class="question-index">Q{{question.index}}</button>
              </div>

              <div class="col-10 content-box">
                <button type="button" class="btn btn-outline-secondary truncate" placement="left" [ngbPopover]="question.content"
                  popoverTitle="Question {{question.index}}">{{question.content}}</button>
              </div>

            </div><!-- End Content Row -->

            <!-- Status -->
            <div class="row">

              <!-- Duration -->
              <div class="col-4">
                <p *ngIf="question.duration <= 1" class="truncate">
                  <img src="assets/clock.png" width="25" height="25" alt="clock">Now

                  <p *ngIf="question.duration > 1" class="truncate">
                    <img src="assets/clock.png" width="25" height="25" alt="clock">{{question.duration}}</p>
              </div>

              <!-- Answers -->
              <div class="col-4">
                <p class="truncate">
                  <img src="assets/answer.png" width="20" height="20" alt="answer">
                  {{question.nbrAnswers}}
                </p>
              </div>

              <!-- Likes -->
              <div class="col-4">
                <p class="truncate" (click)="onLikeClick(question)">
                  <img src="assets/thumbup.png" width="20" height="20" alt="likes">
                  {{question.nbrLikes}}
                </p>
              </div>

            </div><!-- End Status Row -->

            <hr>
          </div>

        </div>

      </div><!-- End Checked List -->

      <!-- Deleted List -->
      <div *ngIf="showDeleted" class="row">

        <!-- Question Item -->
        <div *ngFor="let question of deleted | slice:0:4" class="row question" (click)="onQuestionClick()">

          <!-- Question -->
          <div class="col-11">

            <!-- Content Row -->
            <div class="row question-content">

              <div class="col-2 content-index">
                <button *ngIf="question.index < 10" class="question-index">Q0{{question.index}}</button>
                <button *ngIf="question.index >= 10" class="question-index">Q{{question.index}}</button>
              </div>

              <div class="col-10 content-box">
                <button type="button" class="btn btn-outline-secondary truncate" placement="left" [ngbPopover]="question.content"
                  popoverTitle="Question {{question.index}}">{{question.content}}</button>
              </div>

            </div><!-- End Content Row -->

            <!-- Status -->
            <div class="row">

              <!-- Duration -->
              <div class="col-4">
                <p *ngIf="question.duration <= 1" class="truncate">
                  <img src="assets/clock.png" width="25" height="25" alt="clock">Now

                  <p *ngIf="question.duration > 1" class="truncate">
                    <img src="assets/clock.png" width="25" height="25" alt="clock">{{question.duration}}</p>
              </div>

              <!-- Answers -->
              <div class="col-4">
                <p class="truncate">
                  <img src="assets/answer.png" width="20" height="20" alt="answer">
                  {{question.nbrAnswers}}
                </p>
              </div>

              <!-- Likes -->
              <div class="col-4">
                <p class="truncate" (click)="onLikeClick(question)">
                  <img src="assets/thumbup.png" width="20" height="20" alt="likes">
                  {{question.nbrLikes}}
                </p>
              </div>

            </div><!-- End Status Row -->

            <hr>
          </div>

        </div>

      </div><!-- End Deleted List -->


      <!-- Change View -->
      <div class="row" id="change-view">

        <div class="col-3">
          <p>Select View</p>
        </div>

        <div class="col-2" id="check-view">
          <button (click)="showCheckedQuestions()"><img src="assets/checkblack.png" width="30" height="30" alt="check"></button>
        </div>

        <div class="col-2" id="delete-view">
          <button (click)="showDeletedQuestions()"><img src="assets/trashcan.png" width="30" height="30" alt="delete"></button>
        </div>

        <!-- Question View-->
        <div class="col-2" id="back-view">
          <button (click)="showQuestions()">View All</button>
        </div>
      </div><!-- End Change View -->

    </div><!-- End Questions -->


  </div>
</div>
