<div class="container">

  <div class="row">

    <!-- Main Screen -->
    <div class="col-9">

      <div class="row" id="course-title">
        <h1 class="mx-auto">{{currentCourse.name}}</h1>
      </div>

      <div class="row" id="course-status">

        <div class="col-4">
          <h2>Time: {{lecture.time.getHours()}}:{{lecture.time.getMinutes()}}</h2>
        </div>

        <div class="col-4" id="lecture">
          <p>{{lecture.title}}</p>
        </div>

        <div class="col-4">
          <div class="row">
            <div class="col-6"></div>
            <h3>Online: {{lecture.nbrOnline}}</h3>
          </div>
        </div>

      </div>

      <div class="row">
        <pdf-viewer [src]="pdfSource" [render-text]="true" [show-all]="true" [fit-to-page]="true" style="display: block;"></pdf-viewer>
        <!-- <iframe id="slides" src="https://onedrive.live.com/embed?cid=B3661CC19E37AC5B&resid=B3661CC19E37AC5B%2172589&authkey=AEALH5JUh61hZ4c&em=2"
          width="800" height="600" frameborder="0" scrolling="auto">
        </iframe> -->
      </div>
      <br />
      <div class="row">
        <button id="done" type="button" class="btn btn-success mx-auto" routerLink="/prof-after">Done</button>
      </div>
    </div><!-- End Main -->

    <!-- Questions -->
    <div class="col-3" id="questions">

      <!-- Hand -->
      <div class="row" id="hand-div">
        <button [@myAwesomeAnimation]='questionState' (click)="showQuestions()"><img src="assets/handraiseb.png" alt="raise hand"
            class="mx-auto" id="hand">
        </button>
      </div><!-- End Hand -->

      <!-- Question List -->
      <div *ngIf="showQs" class="row questions-containter">

        <!-- Question Item -->
        <div *ngFor="let question of questions" class="row question" (click)="onQuestionClick()">

          <!-- Question -->
          <div class="col-10">

            <!-- Content -->
            <div class="row">
              <div class="col-2">
                <span class="question-index" *ngIf="question.index < 10">Q0{{question.index}}</span>
                <span class="question-index" *ngIf="question.index >= 10">Q{{question.index}}</span>
              </div>
              <div class="col-10 question-content" [ngbPopover]="question.content" popoverTitle="Question {{question.index}}"
                data-container="body" placement="left">
                <p class="truncate-question question-content">{{question.content}}</p>
              </div>
            </div>

            <!-- Status -->
            <div class="row">
              <!-- Duration -->
              <div class="col-4 question-duration">
                <p *ngIf="question.duration <= 1" class="truncate" data-container="body" ngbTooltip="{{question.duration}} minute ago">
                  <fa-icon [icon]="['far', 'clock']" size="lg"></fa-icon>Now
                </p>

                <p *ngIf="question.duration > 1" class="truncate" data-container="body" ngbTooltip="{{question.duration}} minutes ago">
                  <fa-icon [icon]="['far', 'clock']" size="lg"></fa-icon>{{question.duration}}min
                </p>
              </div>

              <!-- Answers -->
              <div class="col-4" data-container="body" ngbTooltip="{{question.nbrAnswers}} answers">
                <fa-icon [icon]="['fas', 'comments']" size="lg" class="truncate"></fa-icon>
                <!-- {{question.nbrAnswers}} -->
              </div>

              <!-- Likes -->
              <div class="col-4 question-like" data-container="body" ngbTooltip="Upvote">
                <span class="truncate" (click)="onLikeClick(question)">
                  <fa-icon [icon]="['fas', 'thumbs-up']" size="lg" class="truncate"></fa-icon>
                  {{question.nbrLikes}}
                </span>
              </div>

            </div>
          </div>

          <!-- Vertical check/delete -->
          <div class="col-2">

            <!-- Check Button -->
            <div class="row">
              <fa-icon [icon]="['fas', 'check']" size="2x" (click)="checkQuestion(question.index)" data-container="body" ngbTooltip="Checkoff Question {{question.index}}"
                class="check-icon"></fa-icon>
            </div>

            <!-- Delete Button -->
            <div class="row">
              <fa-icon [icon]="['far', 'trash-alt']" size="2x" (click)="deleteQuestion(question.index)" data-container="body"ngbTooltip="Delete Question {{question.index}}"
                class="delete-icon"></fa-icon>
            </div>

          </div>

        </div>

        <!-- More
        <div class="row mx-auto">
          <button id="more" (click)="onMoreClick()">More</button>
        </div> -->

      </div><!-- End Question List -->

      <!-- Checked List -->
      <div *ngIf="showChecked" class="row">

        <!-- Question Item -->
        <div *ngFor="let question of checked | slice:0:4" class="row question" (click)="onQuestionClick()">

          <!-- Question -->
          <div class="col-11">

            <!-- Content -->
            <div class="row">
              <div class="col-2">
                <span class="question-index" *ngIf="question.index < 10">Q0{{question.index}}</span>
                <span class="question-index" *ngIf="question.index >= 10">Q{{question.index}}</span>
              </div>
              <div class="col-10 question-content" [ngbPopover]="question.content" popoverTitle="Question {{question.index}}"
                placement="left">
                <p class="truncate-question question-content">{{question.content}}</p>
              </div>
            </div>

            <!-- Status -->
            <div class="row">
              <!-- Duration -->
              <div class="col-4 question-duration">
                <p *ngIf="question.duration <= 1" class="truncate" data-container="body"ngbTooltip="{{question.duration}} minute ago">
                  <fa-icon [icon]="['far', 'clock']" size="lg"></fa-icon>Now
                </p>

                <p *ngIf="question.duration > 1" class="truncate" data-container="body"ngbTooltip="{{question.duration}} minutes ago">
                  <fa-icon [icon]="['far', 'clock']" size="lg"></fa-icon>{{question.duration}}min
                </p>
              </div>

              <!-- Answers -->
              <div class="col-4" data-container="body"ngbTooltip="{{question.nbrAnswers}} answers">
                <fa-icon [icon]="['fas', 'comments']" size="lg" class="truncate"></fa-icon>
                <!-- {{question.nbrAnswers}} -->
              </div>

              <!-- Likes -->
              <div class="col-4 question-like" data-container="body"ngbTooltip="Upvote">
                <span class="truncate" (click)="onLikeClick(question)">
                  <fa-icon [icon]="['fas', 'thumbs-up']" size="lg" class="truncate"></fa-icon>
                  {{question.nbrLikes}}
                </span>
              </div>

            </div>

            <hr>
          </div>

        </div>

      </div><!-- End Checked List -->

      <!-- Deleted List -->
      <div *ngIf="showDeleted" class="row">

        <!-- Question Item -->
        <div *ngFor="let question of deleted | slice:0:4" class="row question" (click)="onQuestionClick()">

          <!-- Question -->
          <div class="col-11">

            <!-- Content -->
            <div class="row">
              <div class="col-2">
                <span class="question-index" *ngIf="question.index < 10">Q0{{question.index}}</span>
                <span class="question-index" *ngIf="question.index >= 10">Q{{question.index}}</span>
              </div>
              <div class="col-10 question-content" [ngbPopover]="question.content" popoverTitle="Question {{question.index}}"
                popoverClass="my-custom-class" placement="left">
                <p class="truncate-question question-content">{{question.content}}</p>
              </div>
            </div>

            <!-- Status -->
            <div class="row">
              <!-- Duration -->
              <div class="col-4 question-duration">
                <p *ngIf="question.duration <= 1" class="truncate" data-container="body" ngbTooltip="{{question.duration}} minute ago">
                  <fa-icon [icon]="['far', 'clock']" size="lg"></fa-icon>Now
                </p>

                <p *ngIf="question.duration > 1" class="truncate" data-container="body" ngbTooltip="{{question.duration}} minutes ago">
                  <fa-icon [icon]="['far', 'clock']" size="lg"></fa-icon>{{question.duration}}min
                </p>
              </div>

              <!-- Answers -->
              <div class="col-4" data-container="body" ngbTooltip="{{question.nbrAnswers}} answers">
                <fa-icon [icon]="['fas', 'comments']" size="lg" class="truncate"></fa-icon>
                <!-- {{question.nbrAnswers}} -->
              </div>

              <!-- Likes -->
              <div class="col-4 question-like" data-container="body" ngbTooltip="Upvote">
                <span class="truncate" (click)="onLikeClick(question)">
                  <fa-icon [icon]="['fas', 'thumbs-up']" size="lg" class="truncate"></fa-icon>
                  {{question.nbrLikes}}
                </span>
              </div>

            </div>

            <hr>
          </div>

        </div>

      </div><!-- End Deleted List -->


      <!-- Change View -->
      <div class="row" id="change-view">

        <div class="col-3">
          <p>Select View</p>
        </div>

        <!-- Question View-->
        <div class="col-3" id="back-view" class="default-button" data-container="body" ngbTooltip="View all questions">
          <fa-icon [icon]="['far', 'list-alt']" size="3x" (click)="showQuestions()"></fa-icon>
        </div>

        <div class=" col-3" id="check-view" data-container="body" ngbTooltip="View checked questions">
          <fa-icon [icon]="['fas', 'check']" size="3x" (click)="showCheckedQuestions()"></fa-icon>
        </div>

        <div class="col-3" id="delete-view" data-container="body" ngbTooltip="View deleted questions">
          <fa-icon [icon]="['far', 'trash-alt']" size="3x" (click)="showDeletedQuestions()"></fa-icon>
        </div>

      </div><!-- End Change View -->

    </div><!-- End Questions -->


  </div>
</div>
