<app-navigation></app-navigation>
<app-sidebar>

  <div class="container">

    <div class="row">
      <p class="class-title">{{course.department}} {{course.id}}</p>
      <div class="students-box">
        <p class="students">{{course.attendence}} students</p>
      </div>
    </div>

    <div class="row form-row" style="padding-top:30px;margin: auto;
    text-align: center; display: inline">
      <h1 class="text">After Class Statistics</h1>
    </div>
    <div class="col-2" id="margins" style="margin-left:150px">
      <img src="assets/statistics.png" width=500px; height=200px;>
    </div>
    <div class="row" style="margin-top:20px;margin-left:160px">
      <div class="col-3">
        <p style="font-weight: bold;">PID</p>
        <p>A92111691</p>
        <p>A92111691</p>
      </div>
      <div class="col-3">
        <p style="font-weight: bold;">Name</p>
        <p>Peter Wang</p>
        <p>Peter Wang</p>
      </div>
      <div class="col-3">
        <p style="font-weight: bold;">Check-in Time</p>
        <p>14:33 PM</p>
        <p>14:33 PM</p>
      </div>
    </div>
  </div>
</app-sidebar>
